:root {
    --primary-blue: #3B82F6;
    --secondary-blue: #1E293B;
    --success-green: #10B981;
    --warning-amber: #F59E0B;
    --alert-red: #EF4444;
    --bg-color: #F8FAFC;
}

body {
    width:100vw;
    height:100vh;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

main {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
}

aside {
    width:calc(15% - 20px);
    height:calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainContentWrapper {
    width:calc(85% - 20px);
    height:calc(100% - 20px);
    padding: 10px;
    overflow: hidden;
}
.routes {
    width:300%;
    height:100%;
    display: flex;
    flex-direction: row;
}

.route {
    width:100%;
    height:100%;
}

.profilebanner {
    width: 80%;
    height:35%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bannerWrapper {
    width:85%;
    height:55%;
    border-radius: 5px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bannerWrapper:hover {
    background-color: rgb(243, 242, 242);
}

.userProfilePic {
    width:55px;
    height:55px;
    background-color:grey;
    border-radius:55px;
    margin-bottom:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}


.menuNav {
    width:100%;
    height:75%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    font-size:0.8rem;
}

.mainNav {
    width: 100%;
    height:55%;
    text-decoration: none;
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}

.navItem {
    width:80%;
    height: 35px;
    border-radius:5px;
    background-color: rgb(223, 221, 221);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    cursor: pointer;
}

.logOutBtn {
    width:80%;
    height: 35px;
    border-radius:5px;
    background-color: var(--alert-red);
    color:white;
    font-size:0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.navItem:hover {
    background-color: var(--primary-blue);
    color:white;
}
